<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our first website</h1>
    <h2>Showing this content through html template</h2>
    <h2>Enter some number below</h2>
    <form action='modi' method='get'>
        <textarea name='text' style="width: 300px; height: 100px;"></textarea><br>
        <input name="check" type="checkbox">Read<br>
        <input name="removepunc" type="checkbox">Remove punctuation<br>
        <input name="AutoCapt" type="checkbox">Auto Capitalise<br>
        <button type='submit'>Submit</button>
    </form>
</body>
</html>